h1{
    color: white;
    padding:3%;
    font-family:indie flower;
    text-align:center;
}

#title{
    font-family:lobster;
    font-size:60px;
    width:300px;
    margin:0 auto;
}

#title:hover{
    color:#71dde2;
    font-size:65px;
}

p{
    margin: 0 15%;
    background-color:#39d371;
    padding: 40px;
    border-radius:20px;
    text-align: center;
}

h2{
    color:white;
    text-align:center;
}

h3{
    color:white;
    text-align:center;
}

ol{
    color:white;
    text-align:center;
    width:20%;
    display:block;
    margin:0 auto;
    padding-bottom:20px;
}

img{
    border-radius:30%;
    display:block;
    margin:0 auto;
    border:5px solid white;
}

body{
    background-color:black;
}

iframe{
    display: block;
    margin: 0 auto;
}

nav{
    color:white;
    font-family:oswald;
    text-align:center;
    padding-bottom:5%;
    font-size:20px;
}

.players {
    color:white;
    text-decoration: none;
    margin:4%;
    padding:7px;
}

.players:hover {
    font-family:ranga;
    color: #71dde2;
}

#lebron-div{
    transition:all 0.2s ease-in-out;
    background-color:#700308;
}

#lebron-div:hover{
    background-color:#f4ce42;
}

#lebron-div p{
    background-color:#700308;
    color:white;
}

#wade-div{
    transition:all 0.2s ease-in-out;
    background-color:#ffaa00;
}

#wade-div:hover{
    background-color:#ce373f;
}

#wade-div p{
    background-color: #ffaa00;
}

#jordan-div{
    transition:all 0.2s ease-in-out;
    background-color:black;
}

#jordan-div:hover{
    background-color:#cc1212;
}

#jordan-div p{
    Background-color:black;
    color:white;
}

#kobe-div{
    transition:all 0.2s ease-in-out;
    background-color:#8020a3;
}

#kobe-div:hover{
    Background-color:#e8d43e;
}

#kobe-div p{
    background-color: #8020a3;
    color:white;
}

#isaiah-div{
    transition:all 0.2s ease-in-out;
}

#isaiah-div:hover{
    background-color: #1a8229;
}

#isaiah-div p{
    background-color: black;
    color:white;
}

#iverson-div{
    transition:all 0.2s ease-in-out;
    background-color:#2950d1;
}

#iverson-div:hover{
    background-color: #d62020;
}

#iverson-div p{
    background-color: #2950d1;
    color:white;
}

#shaq-div{
    transition:all 0.2s ease-in-out;
    background-color: #8020a3;
}

#shaq-div:hover{
    background-color: #e8d43e;
}
#shaq-div p{
    background-color: #8020a3;
    color:white;
}

#kd-div{
    transition:all 0.2s ease-in-out;
    background-color:#1924ea;
}

#kd-div:hover{
    background-color: #e3ea19;
}

#kd-div p{
    background-color: #1924ea;
    color:white;
}

#kawhi-div{
    transition:all 0.2s ease-in-out;
}

#kawhi-div:hover{
    background-color: #999a9b;
}

#kawhi-div p{
    background-color:black;
    color:white;
}

#magic-div{
    transition:all 0.2s ease-in-out;
    background-color:#8020a3;
}

#magic-div:hover{
    Background-color:#e8d43e;
}

#magic-div p{
    background-color: #8020a3;
    color:white;
}

.up{
    position:fixed;
    bottom: 0;
    right: 0;
    margin:0 15px 15px 0;
    border-radius: 5%;
    width:60px;
    height:60px;
    background:#FFF;
    border:3px solid #000;
    cursor:pointer;
    color:#000;
    text-decoration:none;
    text-align:center;
    padding-top:15px;
    transition:all 0.3% ease-in-out;
    background-color:#3ab8d1;
    font-family:baloo bhaina;
    font-size:20px;
}

.up:hover {
    background-color:#3bb72d;
}




